<tr>
    <td style='
        height: 44px;
        width: 600px;
        color: #0081A2;
        font-family: Helvetica;
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 44px;
        text-align: center;
        padding-bottom: 24px;
    '
    >
        Verify contact method
    </td>
</tr>
<tr>
    <td style='
        width: 600px;
        color: #333333;
        font-family: Helvetica;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 28px;
        text-align: center;
    '
    >
        Please follow the link to continue with your Mandatory testing application. {{applicationLink}}
    </td>
</tr>
