<tr>
    <td style='
        height: 44px;
        width: 600px;
        color: #0081A2;
        font-family: Helvetica;
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 44px;
        text-align: center;
        padding-bottom: 24px;
    '
    >
        Registration Confirmation
    </td>
</tr>
<tr>
    <td style='
        height: 112px;
        width: 600px;
        color: #333333;
        font-family: Helvetica;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 28px;
        text-align: center;
        padding-bottom: 24px;
    '
    >
        Thank you, your form has been submitted.
    </td>
</tr>
<tr>
    <td style='
        width: 600px;
        color: #333333;
        font-family: Helvetica;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 28px;
        text-align: center;
        padding-bottom: 24px;
    '
    >
        Your registration will be verified upon entry into Canada. Please make note of your confirmation number(s).
    </td>
</tr>
<tr>
    <td style='
        width: 600px;
        color: #333333;
        font-family: Helvetica;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 28px;
        text-align: center;
    '
    >
        {{{ travellers }}}
    </td>
</tr>
