<p style="color: #000000; font-size: 14px; line-height: 16px; font-family: arial, helvetica, sans-serif;">
You are receiving this notification due to protocol changes to the Alberta Border Pilot Program that may affect you directly.  
Due to the increased threat of COVID-19 variants, protocols have changed effective immediately to enhance restrictions.
</p>
<ul style="color: #000000; font-size: 14px; line-height: 16px; font-family: arial, helvetica, sans-serif;" align="left" type="disc">
    <li>Participants are now required to remain in quarantine until receipt of the second negative test result taken on day 7 or 8 counting arrival day as day 1.</li>
    <li>Travelers currently in the program who have not yet received the results of their second test are required to return to quarantine immediately until they receive those results.</li>
    <li>Participants are not allowed to return to school, out of school care, daycare or post secondary institutions until 14 days after arrival.</li>
    <li>Participants are not allowed to return to work outside of their residence until 14 days after arrival.</li>
</ul>

<p style="color: #000000; font-size: 14px; line-height: 16px; font-family: arial, helvetica, sans-serif;">
For more information on the Alberta Border Pilot, including the full list of conditions and restrictions associated with participation, please see <a href="https://www.alberta.ca/international-border-pilot-project.aspx">https://www.alberta.ca/international-border-pilot-project.aspx</a>.
</p>
