<p style="color: #000000; font-size: 14px; line-height: 16px; font-family: arial, helvetica, sans-serif;">
A notification was distributed Monday to inform pilot participants of changes to the program. This follow-up is to address common questions we have received regarding these changes.  For clarity, the date that you land and take your first test will be considered Day 1. Your second test will be taken on day 7 or 8 based on this metric.

Effective January 25, 2020, all participants of the Border Pilot <strong><u>MUST</u></strong>:
</p>
<ul style="color: #000000; font-size: 14px; line-height: 16px; font-family: arial, helvetica, sans-serif;" align="left" type="disc">
    <li>
        Remain in quarantine until you receive negative results from the day 7-8 test;
        <ul>
            <li>Travelers currently in the program who have not yet received the results of their day 7-8 test are required to return to quarantine <strong><u>immediately</u></strong> until they receive those negative results.</li>
            <li>Participants are able to leave quarantine for the purpose of getting their day 7-8 test done at a participating Shoppers Drug Mart, and must then return to quarantine until they receive negative results.</li>
        </ul>
    </li>
    <li>
        Not return to work outside of the home until after day 14;
        <ul>
            <li>This is retroactive for all participants, regardless if they have already returned to work. Participants can no longer attend any workplace outside their home until after day 14.</li>
        </ul>
    </li>
    <li>
        Not return to school or daycare until after day 14;
        <ul>
            <li>This is retroactive for all participants, regardless if they have already returned to school or day care. Participants can no longer attend these locations until after day 14.</li>
        </ul>
    </li>
</ul>

<p style="color: #000000; font-size: 14px; line-height: 16px; font-family: arial, helvetica, sans-serif;">
For more information on the Alberta Border Pilot, including conditions and restrictions associated with participation, please see https://www.alberta.ca/international-border-pilot-project.aspx.
</p>
